.section__manage
{
    &__flex {
        display: flex;

        &__wrapper {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 533px;

            .wrapper__title {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 64px;
                line-height: 85px;
                color: #212121;
            }

            .wrapper__text {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 18px;
                line-height: 36px;
                color: #747474;
            }

            .wrapper__btn {
                cursor: pointer;
                margin-top: 50px;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFF;
                border: none;
                padding: 24px 58px;
                background: #2D76F9;
                border-radius: 1500px;
            }
        }




        &__info {
            position: absolute;
            top: 0;
            right: 0;
            width: 700px;
            height: 850px;
            background: #D6E5FD;
            border-radius: 0px 0px 0px 100px;
            background-image: url("/img/img3.png");

            .info__img {
                width: 620px;
                margin-top: 150px;
                margin-left: 50px;
            }
        }
    }
}


//  ----------------------------------------------------------  //


.section__manage__categories 
{

    margin-top: 272px;

    .category {
        display: flex;
        justify-content: space-between;


        &__card {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 387px;


            &__title {
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                color: #212121;
                margin-top: 50px;
            }

            &__text {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 18px;
                line-height: 36px;
                color: #747474;
                margin-top: 30px;
            }
        }
    }
}





//  -----------------------------------------------------  //





.section__featute
{
    margin-top: 150px;
    &__flex {
        display: flex;

        &__img {
            background: #EEF4FF;
            border-radius: 0px 100px 100px 0px;

            img {
                width: 700px;
            }
        }



        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 493px;
            margin-top: 120px;
            margin-left: 147px;

            &__title {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 36px;
                line-height: 65px;
                color: #212121;
            }


            &__text {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 18px;
                line-height: 36px;
                color: #747474;
                margin-top: 50px;
            }
        }
    }
}



.sections__featutes
{
    margin-top: 150px;

    &__flexs {
        display: flex;
        justify-content: space-between;

        &__wrappers {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 493px;
            margin-top: 120px;
            margin-left: 104px;

            &__title {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 36px;
                line-height: 65px;
                color: #212121;
            }

            &__text {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 18px;
                line-height: 36px;
                color: #747474;
                margin-top: 50px;
            }
        }



        &__img {
            background: #EEF4FF;
            border-radius: 100px 0px 0px 100px;

            img {
                width: 700px;
            }
        }
    }
}










